body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-box {
    display: none;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button.submit-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  button.submit-btn:hover {
    background-color: #0056b3;
  }
  
  p {
    font-size: 14px;
  }
  
  span.toggle-btn {
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .register-form {
    display: none;
  }
  
  .show-register .login-form {
    display: none;
  }
  
  .show-register .register-form {
    display: block;
  }
  
  .show-login .register-form {
    display: none;
  }
  
  .show-login .login-form {
    display: block;
  }
  